@font-face {
    font-family: 'PuradakGentleGothicR';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_11-01@1.1/PuradakGentleGothicR.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'ChosunGs';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_20-04@1.0/ChosunGs.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'GmarketSansMedium';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2001@1.1/GmarketSansMedium.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
.wrap {
    position: absolute;
    min-width: 100%;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;

}   
.header {
  display: flex;
  font-size: 1.4em;
  background-color: #3590F3;
  color: white;
  box-shadow: 0 2px 2px 0 rgba(0,0,0,0.1);
  
}
.filter {
    display: flex;
    z-index: 200;
    height: 70px;
    padding-left: 50px;
    background-color: white;
    font-family: 'GmarketSansMedium';
    padding-top: 30px;
}

.filter_box {
    flex: 0 1 auto;
    max-width: 300px;
    overflow: visible;
    text-overflow: ellipsis;
    white-space: nowrap;
    height: 38px;
    padding: 8px;
    border-top-left-radius: 1em;
    border-top-right-radius: 1em;
    border-bottom-left-radius: 1em;
    border-bottom-right-radius: 1em;
    background-color: white;
    margin: 16px 13px 0;
    border: 1px solid rgba(0, 0, 0, 0.2);
    box-shadow: 0 2px 2px 0 rgba(0,0,0,0.1);
}

.logo, .gnb {
    padding: 20px 40px;
    background-color: #1d74d1;
    font-family: 'GmarketSansMedium';
    

    
}
.search {
    display: flex;
    width: 400px;
    padding: 14px 0;
    margin-left: 58%;
    border-top-left-radius: 1em;
    border-top-right-radius: 1em;
    border-bottom-left-radius: 1em;
    border-bottom-right-radius: 1em;

    
}
.search_button {
    width: 50px;
    height: 37px;
    background-color: #1d74d1;
    border-top-left-radius: 0.5em;
    border-top-right-radius: 0.5em;
    border-bottom-left-radius: 0.5em;
    border-bottom-right-radius: 0.5em;
    font-family: 'GmarketSansMedium';
    color: white;
    box-shadow: 0 2px 2px 0 rgba(0,0,0,0.1);

    
    
}
.search_input{
    flex: 1;
    width: 322px;
    height: 37px;
    background-color: white;
    border-top-left-radius: 1em;
    border-top-right-radius: 1em;
    border-bottom-left-radius: 1em;
    border-bottom-right-radius: 1em;
    box-shadow: 0 2px 2px 0 rgba(0,0,0,0.1);

}
.main_img_text h1{
    position: absolute;
    bottom: 23%;
    left: 16%;
    width: 100;
    transform: translate( -50%, -50% );
font-size: 120px;
font-family: 'ChosunGs';
color :white
}
.main_img_text h2{
    position: absolute;
    bottom: 10%;
    left: 12%;
    width: 100;
    transform: translate( -50%, -50% );
font-size: 120px;
font-family: 'ChosunGs';
color :white
}
.tablist{
    background:white;
    font-size: 20px;
    text-align: center;
    padding: 10px 0;
    font-family: 'GmarketSansMedium';
    padding-top: 150px;
}
.tab{
    position:relative;
    display:block;
    line-height:40px;
    font-weight:bold;
    padding:0 15px;
}
.progress {
    font-family: 'GmarketSansMedium';
    border-top-left-radius: 1em;
    border-top-right-radius: 1em;
    border-bottom-left-radius: 1em;
    border-bottom-right-radius: 1em;
    background-color: white;
    padding-top: 50px;
    text-align:center;
}
#progress {
    appearance: none;
}
#progress::-webkit-progress-bar {
    background:#f0f0f0;
    border-radius:10px;
    box-shadow: inset 3px 3px 10px #ccc;
}
#progress::-webkit-progress-value {
    border-radius:10px;
    background: #1D976C;
    background: -webkit-linear-gradient(to right, #99c9fc, #1d74d1);
    background: linear-gradient(to right, #99c9fc, #1d74d1);

}
.map_wrap {
    display:flex;
    flex: 1;
}
.map {
	flex: 1;
    display:flex;
    flex-direction: column;
    overflow: auto;
    position: relative;
}
.photo_title{
    background-color: white;
    font-size: 20px;
    text-align: center;
    padding: 10px 0;
    font-family: 'GmarketSansMedium';
    padding-top: 300px;
}
.photo_list {
    display: flex;
    flex-wrap: wrap;
    width: 90%;
    padding: 8px;
}
.photo_box{
    background-color: white;
    height: 100;
    width: 100%;
    margin: 0;
    column-count: 2;
    float : right
}
.photo {
    width: 600px;
    height: 340px;
    background-color: #afd4fc;
    margin: 5px;
}
.title {
    float : left;  
}